<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Acme Sales</h3>
        <nav>
          <ul class="nav nav-pills">
            <li {% if currentpage == 'home' %} class="active" {% endif %}>
              <a href="/">Home</a>
            </li>
            <li {% if currentpage == 'salesPeople' %} class="active" {% endif %}>
              <a href="/salesPeople">Sales People</a>
            </li>
            <li {% if currentpage == 'regions' %} class="active" {% endif %}>
              <a href="/regions">Regions</a>
            </li>
          </ul>
        </nav>
      </div>
      {% block content %}
      {% endblock %}
      <footer class="footer">
        <p>&copy; 2016 ACME Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
