{% extends './layout.html' %}}
{% block content %}
  <div class="well">
    <form class="form-horizontal" action="/regions" method="POST">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="zipcode">Zipcode:</label>
        <div class="col-sm-7">
          <input class="form-control" id="zipcode" type="text" name="zipcode" placeholder="Type the digits here...">
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary btn-block" type="submit">Add Region</button>
        </div>
      </div>
    </form>
  </div>
  {% for _region in regions %}
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">{{ _region.zipcode }}</h3>
      <form action="/regions/{{ _region.id }}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for _salesPerson in salesPeople %}
        <!-- @TODO: check if region hasSalesPerson -->
        <li class="list-group-item clearfix">
          {{ _salesPerson.name }}
          <form action="/salesPersonRegions/{{ _salesPerson.id }}/{{ _region.id }}?&backUrl=regions" method="POST">
            <button class="btn btn-default btn-sm" type="submit">Add</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
{% endblock %}